# Strata AI Agent Configuration
STRATA_AI_SERVICE_NAME={{ project_name }}
STRATA_AI_ENV=dev
STRATA_AI_OTLP_ENDPOINT=http://localhost:4318
STRATA_AI_DEFAULT_MODEL={{ model }}
STRATA_AI_LOG_LEVEL=DEBUG
STRATA_AI_LOG_SERIALIZE=false